<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">أهلاً</div>

                <div class="panel-body">

                    <table class="table">
                            <tr *ngFor="let journal of journals">  
                                <td>
                                    <a href="/journal/{{journal.id}}">
                                        {{journal.name}}
                                    </a>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>