<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h2><i class="fa fa-book" aria-hidden="true"></i>{{ journal?.name }}
                </h2>
                </div>
                <div class="panel-body">
                    <hr />
                    <div class="posts">
                        <div *ngFor="let post of posts" class="post panel panel-default panel-body">
                            <div class="user col-lg-2">
                              <p>
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <br />
                                <small style="padding-right:20px;">يكتب:</small>
                              </p>
                            </div>
                            <div class="content col-lg-9 text-justify bigger">
                                {{ post.content }}
                            </div>
                            <div class="edit text-center col-lg-1" style="padding-top:25px;">
                                <div class="dropdown">
                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    <span> </span>
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                    <!-- only author of post can edit -->
                                        <li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> تعديل</a></li>
                                    <!-- You should by either post author or journal owner to be able to delete a post -->
                                        <form action="#" method="POST" class="form-horizontal">
                                        <button type="submit" id="deleteButton" class="aslink"><i class="fa fa-trash" aria-hidden="true"></i> حذف</button>
                                        </form>

                                    <li><a href="#"><i class="fa fa-flag" aria-hidden="true"></i> الإبلاغ عن المحتوى</a></li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>