<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">التسجيل</div>
                <div class="panel-body">
                    <form (ngSubmit)="register()" class="form-horizontal" role="form" #registrationForm="ngForm">

                        <div *ngIf="journalModified" class="form-group">
                            <label for="name" class="col-md-4 control-label">اسم مستعار</label>

                            <div class="col-md-6">
                                <input id="name" required type="text" class="form-control" name="name" [(ngModel)]="form.user.name">
                            </div>
                        </div>

                        <div *ngIf="!journalModified" class="form-group">
                            <label for="name" class="col-md-4 control-label">اسم مستعار</label>

                            <div class="col-md-6">
                                <input id="name" required type="text" class="form-control" name="name" [(ngModel)]="form.user.name" (ngModelChange)="setJournalName($event)">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="col-md-4 control-label">اسم الكـتـاب</label>

                            <div class="col-md-6">
                                <input id="journal" required type="text" class="form-control" name="journal" value="{{form.user.journal.name}}" (input)="setJournalModified($event)">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">الEmail</label>

                            <div class="col-md-6">
                                <input id="email" required type="email" class="form-control" name="email" [(ngModel)]="form.user.email" #email="ngModel">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password"  class="col-md-4 control-label">كلمة السر</label>

                            <div class="col-md-6">
                                <input id="password" required (keyup)="comparePasswords()" type="password" class="form-control" name="password" [(ngModel)]="form.password">

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password-confirm"  class="col-md-4 control-label">كلمة السر تاني</label>

                            <div class="col-md-6">
                                <input id="password-confirm" required (keyup)="comparePasswords()" type="password" class="form-control" name="password_confirmation" [(ngModel)]="password" #pass="ngModel">
                                <div *ngIf="!valid && pass.valid && submitted" class="alert alert-danger">كلمة السر دي لازم تبقي زي اللي فوق</div>
                                <div *ngIf="valid && pass.valid && submitted" class="alert alert-success">تمام</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-user"></i> سجل
                                </button>
                                {{response}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>